
{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container-login container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>
            <p>{% blocktrans %}Welcome back to Learn English Online. If
                you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="login needs-validation d-flex flex-column align-items-center" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup w-100 mb-3" type="submit" id="submit" style="max-width: 600px;">{% trans "Sign In" %}</button>
                <img class="img-fluid account-img" src="{% static 'images/students-female-outside.webp' %}" alt="Two students studying outside" style="max-width: 600px;" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
