{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<head>
    <title>Sign In</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h2>Sign In</h2>
    <form method="post" action="{% url 'sign_in' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="password" required>
        <input type="checkbox" onclick="togglePassword()">Show Password<br><br>

        <input type="submit" value="Sign In">
    </form>
</body>

{% endblock %}
