{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load static %}

<div id="log-in-page" class="register-container container">
  <div class="row">
    <div class="col-12">
      <h3>{% trans "Register your Account" %}</h3>
      <p>{% blocktrans %}
        Already have an account? Then please
        <a class="link" href="{{ login_url }}">sign in</a>
        instead.
        {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-flex flex-column align-items-center">
          <button class="btn btn-signup w-100 mb-3" type="submit" style="max-width: 600px;">
            {% trans "Sign Up" %} &raquo;
          </button>
          <!--Pexels image 636760-->
          <img class="img-fluid account-img" src="{% static 'images/students-stairs.webp' %}" alt="Three students sitting on stairs talking and looking at devices" style="max-width: 600px;" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
