{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<body>
    <h1 class="header-home">Learn English Online</h1>
    <h2 class="header-home">For Learners of English as a Foreign Language</h2>
    <header>
      <!-- ADD HREF-->
      <div><a href="" id="hero-header"></a></div>
    </header>
    <article class="container">
      <ul>
        <li>Refresh and advance your English with our interactive games</li>
        <li>Test your skill level with our self-assessment quizzes</li>
        <li>Register an account for our full online offer</li>
        <li>Book a 1:1 consultation with one our native speaker tutors</li>
        <li>IT'S A TRAP!!!</li>
      </ul>
    </article>
{% endblock content %}