{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<body>
    <article class="container">
      <ul>
        <li>Refresh and advance your English with our interactive games</li>
        <li>Test your skill level with our self-assessment quizzes</li>
        <li>Register an account for our full online offer</li>
        <li>Book a 1:1 consultation with one our native speaker tutors</li>
        <li>IT'S A TRAP!!!</li>
      </ul>
    </article>
{% endblock content %}