{% extends 'base.html' %}

{% load static %}

{% block title %}Make an Appointment{% endblock %}

{% block content %}
<div class="book-appt-container">
    <h1>Book your Appointment</h1>
    <ul>
      <li>Our appointments are scheduled according to Central European Time (CET).</li>
      <li>Appointments last for 30 minutes.</li>
      <li>Appointments are available between 08:00 and 12:30, and 14:00 - 18:00.</li>
    </ul>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Submit</button>
      <div class="w-100 mt-3 d-flex justify-content-center">
        <img id="book-appt-img" class="img-fluid" src="{% static 'images/tutor-female-computer.webp' %}" alt="A tutor sitting at her computer." />
      </div>
    </form>
  </div>
  
{% endblock content %}

