{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment Cancelled{% endblock %}

{% block content %}
<div class="container">
    <h1>Your call with our tutor has been cancelled.</h1>
    <h2>Cancelled Appointment Details</h2>
    <ul>
        <li>Date: {{ appointment.meeting_date }}</li>
        <li>Time: {{ appointment.meeting_time }}</li>
    </ul>
    <div>
        <p>What next?</p>
        <ul>
            <li>
                <p>Need to make a new appointment? Click <a href="{% url 'appointments' %}">here.</a></p>
            </li>
            <li>
                <p>Or return to the homepage by clicking <a href="{% url 'home' %}">here.</a></p>
            </li>
        </ul>
    </div>
    <div class="w-100 mt-3 d-flex justify-content-center">
        <!--Pexels 329096-->
        <img class="img-fluid account-img" src="{% static 'images/students-wall.webp' %}" alt="Four happy-looking students sitting on a low wall" style="max-width: 600px;" />
    </div>
</div>
{% endblock content %}