{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment Cancelled{% endblock %}

{% block content %}
<div class="container">
    <h1>Your call with our tutor has been cancelled.</h1>
    <h2>Cancelled Appointment Details</h2>
    <ul>
        <li>Date: {{ appointment.meeting_date }}</li>
        <li>Time: {{ appointment.meeting_time }}</li>
    </ul>
    <a href="{% url 'home' %}">Return to Home</a>
    <div class="w-100 mt-3 d-flex justify-content-center">
        <!--Pexels 329096-->
        <img class="img-fluid account-img" src="{% static 'images/students-wall.webp' %}" alt="Four happy-looking students sitting on a low wall" style="max-width: 600px;" />
    </div>
</div>
{% endblock content %}