@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900|Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header {
    margin: 0;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    background: url("../images/header-sky.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    text-align: center;
}

#navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
    margin-bottom: 0;
}

/* Main */
html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

main {
    flex: 1 0 auto;
}

/*Logged in status message: welcome NAME or you are logged out*/
#login-status {
    background-color: whitesmoke;
    margin-top: 0;
}

/* The homepage */
.container-home {
    margin-bottom: 10px;
}

/* Homepage: cards */
.card-body {
    background-color: whitesmoke;
}

/* Homepage 'why' explainer */
.why-explainer {
    color: whitesmoke;
    background: url("../images/header-sky.webp");
    max-width: 600px;
    margin: auto; 
}

/* Homepage: accordion - custom styles */
.accordion-item, .accordion-button {
    margin: auto;
    background-color: whitesmoke;
}

/* Register account page */
.register-container {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .form-group {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
  }
  .form-group label {
    margin-bottom: 5px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .btn-signup {
    background-color: #198754;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  .btn-signup:hover {
    background-color: #5b6eae;
  }
  .link {
    color: #7289DA;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }
  .form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .form-checkbox input {
    margin-right: 5px;
  }

/* Login page */
.container-login {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Appointments page */
#appointments-home {
    background-color: whitesmoke;
}

.book-appt-container {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

/* Games and exercises: filter questions */
.hidden {
    display: none;
}

/* The footer */
footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#social-networks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#social-networks li {
    margin-right: 20px; /* Adjust spacing between icons as needed */
}

#social-networks li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}