{% extends 'base.html' %}

{% block title %}Games and Appointments{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ level }} Level Exercises</h1>
    <form method="post">
        {% csrf_token %}
        {% if level == "A2" %}
            {% include "partials/_a2_exercises.html" %}
        {% elif level == "B1" %}
            {% include "partials/_b1_exercises.html" %}
        {% elif level == "B2" %}
            {% include "partials/_b2_exercises.html" %}
        {% elif level == "C1" %}
            {% include "partials/_c1_exercises.html" %}
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

    {% endblock content %}
