{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ section.title }}</h1>
    <form id="exerciseForm" method="post">
        {% csrf_token %}
        <ol>
            {% for question in questions %}
            <li id="question-{{ question.id }}">
                <p>{{ question.question_text }}</p>
                <ul>
                    {% for choice in question.choices.all %}
                    <li>
                        <label>
                            <input type="radio" name="question-{{ question.id }}" value="{{ choice.id }}" data-correct="{{ choice.is_correct }}">
                            {{ choice.choice_text }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                <p class="feedback"></p>
            </li>
            {% endfor %}
        </ol>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
