{% extends 'base.html' %}
{% load static %}
{% block title %}{{ level }} Level Sections{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ level }} Level Sections</h1>
    <ul>
        {% for section in sections %}
            <li><a href="{% url 'question_list' section.id %}">{{ section.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="w-100 mt-3 d-flex justify-content-center">
      <!--Pexels image 5427868-->  
      <img class="img-fluid" src="{% static 'images/tutor-classroom.webp' %}" alt="A tutor standing by a whiteboard in a classroom" />
    </div>
</div>
{% endblock %}
