@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

header {
    margin: 0;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    background: url("../images/header-sky.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    text-align: center;
}

#navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
    margin-bottom: 0;
}

/* Error pages: 404 and 500 */
.error-img {
  max-width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

/* Main */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 60px;
}

main {
    flex: 1 0 auto;
    flex-grow: 1;
}

/*Account status images: login, signout, register */
.account-img {
  max-width: 75%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.signout-wrapper {
  width: 75%;
}

.register-wrapper {
  width: 100%;
  max-width: 400px; /* Adjust this width as needed */
  margin: 0 auto;
}

.img-fluid.account-img {
  width: 100%;
}

/*Logged in status message: welcome NAME or you are logged out*/
#login-status {
  width: 100%; 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 0;
  line-height: normal;
  height: 24px;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* The homepage */
.container-home {
    margin-bottom: 10px;
}

/* Homepage: cards */
.card-body {
    background-color: whitesmoke;
}

/* Homepage 'why' explainer */
.why-explainer {
    color: whitesmoke;
    /* Pexels image 87833 */
    background: url("../images/header-sky.webp");
    max-width: 600px;
    margin: auto; 
}

/* Homepage: accordion - custom styles */
.accordion-item, .accordion-button {
    margin: auto;
    background-color: whitesmoke;
}

/* Register account page */
.register-container {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}
.form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.form-group {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn-signup {
    background-color: #198754;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block; 
    width: 100%; 
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.form-checkbox input {
    margin-right: 5px;
}

/* Login page */
.container-login {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Appointments page */
#appointments-home {
    background-color: whitesmoke;
}

/* Validation Error feedback for wrong time/date */
.errorlist {
  color: red;
}

/*Appointments change or cancel: search results */
.appointment-details {
  display: flex;
  flex-direction: column;
}

.appointment-name {
  font-weight: bold;
}

/* Games and exercises: filter questions */
.hidden {
    display: none;
}

/* Games and exercises: style questions */
.questions-list {
  list-style-type: none;
  padding: 0;
}

.question-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.question-text {
  margin-bottom: 10px;
  font-weight: bold;
}

.choices-list {
  list-style-type: none;
  padding: 0;
}

.choice-item {
  margin-bottom: 5px;
}

#exercise-img {
  max-width: 600px;
  margin: 0 auto;
}


/* The footer */
footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  z-index: 30;
}

#social-networks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#social-networks li {
    margin-right: 20px;  
}

#social-networks li:last-child {
    margin-right: 0;  
}

/* Appointments results page: styling for mobiles */
@media (max-width: 576px) {
  .list-group-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-group-item > div {
    width: 100%;
  }

  .list-group-item button {
    width: 100%;
    margin-bottom: 5px;
  }

  .list-group-item form {
    display: inline-block;
    width: 100%;
  }

  .list-group-item button:last-child {
    margin-bottom: 0;
  }

  .cancel-button {
    margin-top: 5px;
  }
}
